extends layout

block css
    link(rel='stylesheet', href='/stylesheets/monokai-sublime.min.css')

block content
  div(class="ui  grid")
    div.two.wide.column
    div.twelve.wide.column
        article.article.details
            h1.article-title= post.title
            time= post.pub_date.toLocaleString()            
            each tag in post.tags
                a.ui.label.black.mini.tags= tag
            div.post-content!= post.html

            div(class="ui comments")
                h3(class="ui dividing header") 评论列表
                if comments
                    each comment in comments
                        div.comment
                            a.avatar
                                img(src="")
                            div.content
                                a.author= comment.author.name
                                div.metadata
                                    span.data= comment.pub_date.toLocaleString()
                            div.text= comment.content


                form(method="post" action="/posts/" + post.id class="ui reply form")
                    div.field
                        textarea(rows="3" name="content")
                    div(class="ui blue labeled submit icon button" type="submit")
                        i(class="icon edit")
                        span 评论
    div.two.wide.column

block script
    script.
        hljs.initHighlightingOnLoad();
